*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{
background:#f5f7fa;
}

.container{
max-width:430px;
margin:auto;
background:#fff;
min-height:100vh;
}

header{
display:flex;
align-items:center;
gap:15px;
padding:20px;
background:#2F80ED;
color:#fff;
}

.voltar{
width:40px;
height:40px;
border:none;
border-radius:50%;
background:#fff;
color:#2F80ED;
cursor:pointer;
}

.meta,
.progresso{
padding:25px;
}

.meta input{
width:100%;
padding:15px;
margin:15px 0;
font-size:18px;
border:1px solid #ccc;
border-radius:10px;
}

.meta button{
width:100%;
padding:15px;
border:none;
border-radius:10px;
background:#27AE60;
color:white;
font-size:17px;
cursor:pointer;
}

.barra{
width:100%;
height:25px;
background:#ddd;
border-radius:20px;
overflow:hidden;
margin:20px 0;
}

#barraProgresso{
width:0%;
height:100%;
background:#2F80ED;
transition:.5s;
}

#textoProgresso{
text-align:center;
font-size:18px;
font-weight:bold;
}

.botoes{
display:flex;
justify-content:center;
gap:20px;
padding:30px;
}

.botoes button{
width:120px;
padding:15px;
font-size:18px;
border:none;
border-radius:12px;
background:#2F80ED;
color:white;
cursor:pointer;
}